/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2015, 12.41.06
    Author     : Tangtang
*/

@font-face{
    font-family: 'Lato';
}

body{
    color: white;
    background-color: black;
}

.open {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer; 
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8;}

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 30px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open li a{
  text-decoration: none;
}

.open li.selected{
  font-weight: bold;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 20px; }

.open span:nth-child(3) { margin-top: 30px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0px;
  padding-top: 20px;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -80px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li a:hover{
    color: green;
    transform: scale(1.2);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.00s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.20s; }

.sub-menu li a {
  color: #fff;
  font-size: 1.2em;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
  transition: all 0.2s ease-in-out;
}

.opened .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.opened span:nth-child(2) { overflow: visible; }

.opened span:nth-child(1),
.opened span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.opened span:nth-child(1) { transform: rotate(45deg) translateY(7px) translateX(7px); }

.opened span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.opened span:nth-child(3) { transform: rotate(-45deg) translateY(-7px) translateX(7px); }

.opened li { margin-right: 168px; }


